doctype html
html(lang="en")
  head
    title My Pug Page
  body
    div(class="container" id="my-container")
      p Hello, World!
      p 可以
    div(id="test_wei") 是阿
      img(src='../src/assets/Banner.jpg')
      img(src='../appfront/src/assets/Banner.jpg')
      img(src='static/images/Banner.jpg')
      img(src='.static/images/Banner.jpg')
      table
        tr
          td 1232


